@import 'styles';
.cheat-sheet-header {
    background-color: $foreground-color;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;

    width: 100%;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
