<!-- Top Header Panel-->
<div
  class="cheat-sheet-header-top"
  addClassOnEditMode
>
  <!-- Logo -->
  <span class="cheat-sheet-header-bottom-left-content">
    <h1 class="header-logo">
      CH33T $H33T
    </h1>
  </span>

  <!-- Login and Logout Options  -->
  <span class="cheat-sheet-header-bottom-right-content">
    <button *ifLoggedIn mat-button>
      <mat-icon>
        person_outline
      </mat-icon>
      Gagan
    </button>
    <button *ifLoggedOut mat-raised-button (click)="authService.login()">
      Login
    </button>
    <button *ifLoggedIn mat-raised-button (click)="authService.logout()">
      Logout
    </button>
    <button *ifLoggedOut mat-raised-button>
      Sign Up
    </button>
    <button mat-icon-button>
      <mat-icon>help_outline</mat-icon>
    </button>
  </span>

</div>

<!-- Bottom Header Panel-->
<div
  class="cheat-sheet-header-bottom mat-elevation-z5"
  addClassOnEditMode
>
  <span class="cheat-sheet-header-bottom-left-content">
    <button mat-icon-button (click)="pageViewService.openLanguagesMenu($event)">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <ng-container *ifLoggedIn>
      <mat-checkbox [(ngModel)]="pageViewService.editModeOn">
        Edit Mode
      </mat-checkbox>
      <button *onEditMode mat-icon-button>
        <mat-icon>save</mat-icon>
      </button>
      <button *onEditMode mat-icon-button>
        <mat-icon>note_add</mat-icon>
      </button>
      <button *onViewMode mat-flat-button color="warn">
        DELETE LANGUAGE
    </button>
    </ng-container>
  </span>
  <span class="cheat-sheet-header-bottom-right-content">
    <mat-form-field
      style="text-align: right"
      class="search-bar-form-field"
      addClassOnEditMode
    >
      <input
        class="search-bar-form-field-input"
        type="text"
        [placeholder]="'Search for ' + pageViewService.currentLanguage +' index card'"
        matInput
      />
    </mat-form-field>
  </span>
</div>
