<div class="toolbar">
    <mat-form-field appearance="fill">
        <mat-label>
          Card Name
        </mat-label>
        <input
          class="toolbar-input"
          type="text"

          matInput
          [(ngModel)]="data.indexCardTitle"
        />
    </mat-form-field>
</div>

<div
  class="index-card-editor-container"
>
  <div
    class="index-card-editor"
    editor
    [code]="data.fileContent"
    [language]="data.fileType"
    [readOnly]="false"
    [maxLines]="30"
    [minLines]="30"
    [clickCtrlEnter]="onClickCtrlEnter"
    [clickEsc]="onClickEsc"
  >
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onClickOk()">OK</button>
  <button mat-raised-button color="warn" (click)="onClickEsc()">CANCEL</button>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-label>File Type</mat-label>
    <mat-select [(ngModel)]="data.fileType" (selectionChange)="onLanguageChange()">
      <mat-option
        *ngFor="let ft of sheetService.availableFileTypes"
        [value]="ft"
      >
        {{ft}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
