*.d.ts
node_modules
package-lock.json
*.env
!*.template.env
backup.env
.ipynb_checkpoints
SimpleServer.ipynb
__pycache__
.DS_Store
.config
.ash_history
.npm
!simple-server.js
.node_repl_history

# API Ignores
api/dependencies/*
!api/dependencies/.gitkeep
api/notebooks
api/cached-dependencies
archived-services
__dependencies__

# CLIENT UI Ignores
client-ui/angular-output/*
!client-ui/angular-output/.gitkeep
