<div class="index-card">
  <mat-card
    [class.mat-elevation-z8]="enableElevation"
    (mouseover)="enableElevation=true"
    (mouseout)="enableElevation=false"
    (click)="copyToClipBoard($event)"
  >
    <div class="overlay" addClassOnEditMode>
    </div>
    <mat-card-header>
      <mat-icon mat-card-avatar>file_copy</mat-icon>
      <mat-card-title>{{indexCardContent.codeSnippetTitle}}</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div
        editor
        [language]="indexCardContent.codeSnippetFileType"
        [code]="indexCardContent.codeSnippetText"
        class="index-card-editor"
      >
          <!-- Ace Editor Created inside this div with editor directive -->
      </div>
    </mat-card-content>
    <mat-card-actions *ifEditMode style="z-index: 200;">
      <button mat-raised-button (click)="clickEdit($event)">EDIT</button>
      <button mat-raised-button color="warn">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
