<div class="index-card">
  <mat-card
    [class.mat-elevation-z8]="enableElevation"
    (mouseover)="enableElevation=true"
    (mouseout)="enableElevation=false"
    (click)="copyToClipBoard($event)"
  >
    <div class="overlay" [class.editable]="canEditValue">
    </div>
    <mat-card-header>
      <mat-icon mat-card-avatar>file_copy</mat-icon>
      <mat-card-title>{{indexCardContent.codeSnippetTitle}}</mat-card-title>

    </mat-card-header>
    <mat-card-content>
      <div class="index-card-editor">
          <!-- ID for this element is set in the Component's typescript definition -->
      </div>
    </mat-card-content>
    <mat-card-actions style="z-index: 200;">
      <button mat-flat-button>EDIT</button>
      <button mat-flat-button color="warn">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
