<div *ngIf=sheetService.currentSheetValue class="sheet-container" cdkDropListGroup>

  <!-- LEFT COLUMN  -->
  <div
    class="sheet-column"
    cdkDropList
    [cdkDropListData]="sheetService.currentSheetValue.leftIndexCards"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let card of sheetService.currentSheetValue.leftIndexCards"
      cdkDrag
      [cdkDragDisabled]="!sheetService.editModeOn"
    >
      <app-index-card
        *ngIf="card.indexCardTitle.toLowerCase().includes(sheetService.searchFilter.toLowerCase())"
        [indexCard] = "card"
        [(canEdit)] = "sheetService.editModeOn"
      >
      </app-index-card>
    </div>
  </div>

  <!-- RIGHT COLUMN  -->
  <div
    class="sheet-column"
    cdkDropList
    [cdkDropListData]="sheetService.currentSheetValue.rightIndexCards"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let card of sheetService.currentSheetValue.rightIndexCards"
      cdkDrag
      [cdkDragDisabled]="!sheetService.editModeOn"
    >
      <app-index-card
        *ngIf="card.indexCardTitle.toLowerCase().includes(sheetService.searchFilter.toLowerCase())"
        [indexCard] = "card"
        [(canEdit)] = "sheetService.editModeOn"
      >
      </app-index-card>
    </div>
  </div>

</div>

<div *ngIf=!sheetService.currentSheetValue class="no-sheets-message-container">
  <h1>This workspace has no sheets.<br/> Please add one.</h1>
</div>
