<div class="page-container" cdkDropListGroup>
  <!-- LEFT COLUMN  -->
  <div
    class="page-column"
    cdkDropList
    [cdkDropListData]="indexCardsLeft"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let item of indexCardsLeft"
      cdkDrag
      [cdkDragDisabled]="!pageViewService.editModeOn"
    >
      <app-index-card
        [name] = item
        [(canEdit)] = pageViewService.editModeOn
      >
      </app-index-card>
    </div>
  </div>

  <!-- RIGHT COLUMN  -->
  <div
    class="page-column"
    cdkDropList
    [cdkDropListData]="indexCardsRight"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let item of indexCardsRight"
      cdkDrag
      [cdkDragDisabled]="!pageViewService.editModeOn"
    >
      <app-index-card
        [name] = item
        [(canEdit)] = pageViewService.editModeOn
      >
      </app-index-card>
    </div>
  </div>

</div>
