<div class="page-container">
  <!-- LEFT COLUMN  -->
  <div class="page-column">
    <div class="index-card-container">
      <app-index-card>
      </app-index-card>
    </div>
    <div class="index-card-container">
      <app-index-card>
      </app-index-card>
    </div>
  </div>

  <!-- RIGHT COLUMN  -->
  <div class="page-column">
    <div class="index-card-container">
      <app-index-card>
      </app-index-card>
    </div>
    <div class="index-card-container">
      <app-index-card>
      </app-index-card>
    </div>
  </div>

</div>
