.page-container {
    width: 100%;
    display: flex;
}
.page-column {
    width: 50%;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.index-card-container {
    margin-top: 15px;
}
