<div *ngIf ="pageContent" class="page-container" cdkDropListGroup>
  <!-- LEFT COLUMN  -->
  <div
    class="page-column"
    cdkDropList
    [cdkDropListData]="pageContent.indexCardsLeft"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let cardContent of pageContent.indexCardsLeft"
      cdkDrag
      [cdkDragDisabled]="!pageViewService.editModeOn"
    >
      <app-index-card
        *ngIf ="cardContent"
        [indexCardContent] = "cardContent"
        [(canEdit)] = "pageViewService.editModeOn"
      >
      </app-index-card>
    </div>
  </div>

  <!-- RIGHT COLUMN  -->
  <div
    class="page-column"
    cdkDropList
    [cdkDropListData]="pageContent.indexCardsRight"
    (cdkDropListDropped)="drop($event)"
  >
    <!-- <div class="index-card-container"
      *ngFor="let cardContent of pageContent.indexCardsRight"
      cdkDrag
      [cdkDragDisabled]="!pageViewService.editModeOn"
    >
      <app-index-card
        [indexCardContent] = cardContent
        [(canEdit)] = pageViewService.editModeOn
      >
      </app-index-card>
    </div> -->
  </div>

</div>
