<!-- <app-header>
</app-header> -->
<div class="app-container">
    <div class="header-container">
        <app-header>
        </app-header>
    </div>

    <div class="main-sheet-container" >
        <mat-sidenav-container class="main-sheet">

            <mat-sidenav class="sidenav-body" mode="side" [opened]="sheetService.showSheetMenuValue">
                <app-sheet-menu>
                </app-sheet-menu>
            </mat-sidenav>

            <mat-sidenav-content class="main-sheet-body" [class.editmode]="sheetService.editModeOn">
                <router-outlet></router-outlet>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</div>
