<div *ngIf=sheetService.currentSheetValue class="sheet-container" cdkDropListGroup>

  <!-- LEFT COLUMN  -->
  <div
    class="sheet-column"
    cdkDropList
    [cdkDropListData]="sheetService.currentSheetValue.leftIndexCards"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let card of sheetService.currentSheetValue.leftIndexCards"
      cdkDrag
      [cdkDragDisabled]="!sheetService.editModeOn"
    >
      <app-index-card
        [indexCard] = "card"
        [(canEdit)] = "sheetService.editModeOn"
      >
      </app-index-card>
    </div>
  </div>

  <!-- RIGHT COLUMN  -->
  <div
    class="sheet-column"
    cdkDropList
    [cdkDropListData]="sheetService.currentSheetValue.rightIndexCards"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="index-card-container"
      *ngFor="let card of sheetService.currentSheetValue.rightIndexCards"
      cdkDrag
      [cdkDragDisabled]="!sheetService.editModeOn"
    >
      <app-index-card
        [indexCard] = "card"
        [(canEdit)] = "sheetService.editModeOn"
      >
      </app-index-card>
    </div>
  </div>

</div>
