@import 'styles';
.sheet-menu-header {
  text-align: center;
  margin-top: 10px;
  margin-top: 15px;
  cursor: default;
}

.sheet-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 200px;
}
.sheet-menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: .1s;
  &:hover {
    background-color: #dddddd;
    padding-top: 8px;
    padding-top: 8px;
  }
  &.sheet-menu-item-selected {
    background-color: $foreground-text-color;
    color: $foreground-color;
    
  }
}

.add-sheet-button {
  margin-top: 20px;
  width: 100%;
}
